---
import AboutContainer from "./AboutContainer.astro";
import AboutHeader from "./AboutHeader.astro";
import AboutHeaderBunny from "./AboutHeaderBunny.astro";
import AboutJob from "./AboutJob.astro";
---

<AboutContainer>
  <AboutHeader>
    <img
      src="/aboutme/logo.png"
      alt="me"
      class="h-44 outline-4 outline-dashed outline-purple-900 rounded-full"
    />
    <AboutHeaderBunny />
    <div
      class="flex justify-between items-center gap-4 h-14 py-2 px-2 bg-purple-900 border-2 border-purple-700"
    >
      <img class="h-8" src="/aboutme/pixelab.png" alt="pixelab" />
      <img class="h-8" src="/aboutme/photoshop.png" alt="photoshop" />
      <img class="h-8" src="/aboutme/capcut.png" alt="capcut" />
    </div>
  </AboutHeader>

  <footer
    class="flex sm:h-[248px] sm:justify-between justify-center gap-4 items-center flex-col"
  >
    <h1 class="font-bold text-5xl shadow-sm mb-2 mt-4 text-purple-500/50">
      Design UX & UI
    </h1>
    <p
      class="text-white/60 px-4 max-w-[400px] bg-purple-900 border-2 border-purple-700 py-2 rounded-lg"
    >
      Transformando ideias em experiências visuais memoráveis, cada projeto é
      uma oportunidade para explorar, inovar e aprimorar minhas habilidades.
    </p>

    <AboutJob />
  </footer>
</AboutContainer>
<style>
  .text-shadow {
    text-shadow: 2px 20px 4px rgba(0, 0, 0, 0.5);
  }
</style>
