---

---

<section class="sm:h-96 flex justify-center sm:flex-row items-center sm:gap-28 sm:border-b sm:px-10 bg-purple-950/25 border-b-purple-900 flex-col gap-2 h-fit pt-12 pb-3 px-4">
  <header class="flex h-[248px] w-fit flex-col gap-4">
    <img src="me.jfif" alt="me" class="h-44 rounded-lg outline-4 outline-dashed outline-purple-900" />
    <div class="max-h-[1px]">
        <img class="relative h-12 -top-8 -left-6" src="/aboutme/cat.gif" alt="cat"/>
    </div>
    <div class="w-[148px] flex justify-between items-center gap-4 h-14 py-2 px-2 bg-purple-900 border-2 border-purple-700">
        <img class="h-8" src="/aboutme/pixelab.png" alt="pixelab">
        <img class="h-8" src="/aboutme/photoshop.png" alt="photoshop">
        <img class="h-8" src="/aboutme/capcut.png" alt="capcut">
    </div>
  </header>

  <footer class="flex h-[248px] sm:justify-between justify-center gap-4 items-center flex-col">
    <h1 class="text-white lg:font-bold lg:text-lg hidden">I'm Luh</h1>
    <h2 class="font-bold text-5xl shadow-sm mb-2 text-purple-500/50">
      Design UX & UI
    </h2>
    <p
      class="text-white/60 px-4 max-w-[400px] bg-purple-900 border-2 border-purple-700 py-2 rounded-lg"
    >
      Transformando ideias em experiências visuais memoráveis, cada projeto é
      uma oportunidade para explorar, inovar e aprimorar minhas habilidades.
    </p>
  </footer>
</section>

<style>
  .text-shadow {
    text-shadow: 2px 20px 4px rgba(0, 0, 0, 0.5);
  }
</style>
