---

---

<section
  class="sm:h-96 flex justify-center sm:flex-row items-center sm:gap-28 sm:border-b sm:px-10 bg-purple-950/25 border-b-purple-900 flex-col gap-2 h-fit pt-12 pb-3 px-4"
>
  <slot />
</section>
