---

---

<li
  class="flex flex-col px-2 py-2 bg-purple-800 w-fit rounded-lg border-2 border-purple-600 cursor-pointer"
>
  <img class="w-90" src="item.jfif" alt="" />
  <div class="h-6 flex items-center">
    <span class="text-white "">Item</span>
  </div>
</li>
