---

---

<header class="relative z-50 h-16 px-10 flex justify-between items-center border-b border-b-purple-900">
  <div class="flex gap-4 items-center w-fit">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="60"
      height="60"
      fill="#fff"
      viewBox="0 0 256 256"
    >
      <path
        d="M240,94c0,70-103.79,126.66-108.21,129a8,8,0,0,1-7.58,0C119.79,220.66,16,164,16,94A62.07,62.07,0,0,1,78,32c20.65,0,38.73,8.88,50,23.89C139.27,40.88,157.35,32,178,32A62.07,62.07,0,0,1,240,94Z"
      >
      </path>
    </svg>

    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="32"
      height="32"
      fill="#616161"
      viewBox="0 0 256 256"
      ><path
        d="M216,24H40A16,16,0,0,0,24,40V216a16,16,0,0,0,16,16H216a16,16,0,0,0,16-16V40A16,16,0,0,0,216,24ZM96,176a8,8,0,0,1-16,0V112a8,8,0,0,1,16,0ZM88,96a12,12,0,1,1,12-12A12,12,0,0,1,88,96Zm96,80a8,8,0,0,1-16,0V140a20,20,0,0,0-40,0v36a8,8,0,0,1-16,0V112a8,8,0,0,1,15.79-1.78A36,36,0,0,1,184,140Z"
      ></path></svg
    >

    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="32"
      height="32"
      fill="#616161"
      viewBox="0 0 256 256"
      ><path
        d="M176,24H80A56.06,56.06,0,0,0,24,80v96a56.06,56.06,0,0,0,56,56h96a56.06,56.06,0,0,0,56-56V80A56.06,56.06,0,0,0,176,24ZM128,176a48,48,0,1,1,48-48A48.05,48.05,0,0,1,128,176Zm60-96a12,12,0,1,1,12-12A12,12,0,0,1,188,80Zm-28,48a32,32,0,1,1-32-32A32,32,0,0,1,160,128Z"
      ></path></svg
    >
  </div>

  <nav>
    <ul class="hidden sm:flex gap-4 text-[#616161] items-center">
      <li class="font-semibold">Sobre-mim</li>
      <li class="font-semibold">Amostras</li>
      <li class="font-semibold">Ferramentas</li>
      <li class="font-semibold px-4 py-2 bg-[#6161617c] text-white rounded-lg">Contate-me</li>
    </ul>
  </nav>
</header>


