---

---

<header
  class="relative z-50 h-16 px-10 flex justify-center items-center border-b border-b-purple-900"
>
  <div class="flex gap-4 justify-between items-center w-[400px]">
    <img class="h-8" src="/Header/amino.svg" alt="amino" />
    <img class="h-14 animate__animated animate__pulse animate__infinite" src="/Header/heart.svg" alt="heart" />
    <img class="h-8" src="/Header/pinterest.svg" alt="pinterest" />
  </div>
</header>
